# Ignore everything inside data
data/*

# Allow traversal into raw
!data/raw/

# Re-include thumbnail directories
!data/raw/l2_thumbnail/
!data/raw/l3_thumbnail/

# Re-include their contents
!data/raw/l2_thumbnail/**
!data/raw/l3_thumbnail/**
